<html>
 <style>
/* Style the header */
header {
  background-color: #666;
  padding: 25px;
  padding-left:0px;
  padding-right:0px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 20px;
  text-align: center;
  color: white;
}
.container{
  display:inline-flex;
  width:100%;
}
.appicon-section{
  flex:1;
  padding:10px;
}
.google-section{
  flex:1;
  padding:10px;
}
a{
  cursor:pointer;
}
   </style>
<body>
<header>
 <h1>NFL Schedule & Scores</h1>
</header>

<div class='container'>
  <div class='appicon-section'>
    <img alt="NFL App app icon" class="appImage" src="https://static.nfl.com/static/content/public/static/html/labs/rr/apps/img/NFL_Mobile_blue.png" data-radium="true">
 </div>
 <div class='google-section'>
   <div>Football NFL Schedule & Scores</div>
 <a href='https://play.google.com/store/apps/details?id=com.schedule.nflscores'>
  <img alt="Android app on Google Play" src="https://static.nfl.com/static/content/public/static/html/labs/rr/apps/img/googlePlayBtn.png" data-radium="true" style="width: 50%;">
</a>
 </div>
</div>
<footer></footer>
</body>
</html>